<article class="article article-type-post">
	<div class="article-inner">
		<header class="article-header">
		    <h1 itemprop="name">
		      <a class="article-title" href="#">Hello World</a>
		    </h1>
	    </header>
		<div class="article-entry">
			<p>
				Welcome to my website where I blog about my coding journey!
			</p>
		</div>
	</div>
</article>